*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(90deg, blue, white);
}
#blok{
    text-align: center;
    width: 30%;
    margin: 10% auto 0 auto;
    background-color: white;
    border-radius: 10px;
    line-height: 200%;
    box-shadow:  0 0 5px 1px rgb(209, 209, 209);
}
input{
    margin: 2% 0;
    padding: 2% 5%;
    border-radius: 10px;
    outline: none;
    border: 1px solid blue;
}
#in{
    display: flex;    
    text-align: center;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
#in input{
    width: 48%;
    display: flex;
    align-items: center;
}
h4{
    color: white;
    background-color: blue;
    font-size: 1.5rem;
    padding: 2% 0 ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#chek{
    border: none;
    padding: 3%;
    width: 20px;
    height: 20px;
    margin-left: 4%;
}
p{
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
#btn{
    color: white;
    background-color: blue;
    margin: 2% 0;
    padding: 2% 5%;
    border-radius: 10px;
    outline: none;
    border: 1px solid blue;
    text-transform: uppercase;
}
#btn:active{
    background-color: white;
    color: blue;
}
#text{
    text-align: center;
    width: 80%;
    margin: 2% auto;
    background-color: white;
    border-radius: 10px;
    font-size: 1rem;
}


